<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>About</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Giovanni Thompson</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-1g-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <center>
      <h1>Giovanni Thompson</h1>
        <h3>Author of "Incognito"</h3>
        <p>Giovanni is a current senior at Columbus State University, majoring in Computer Science - Web Development.</p>
        <p>He is the current President of the Collegiate 100, and is also a member of Alpha Phi Alpha Fraternity, Inc., SAC, iLEAD, and NAACP.</p>
        <hr>
        <h3>AWARDS</h3>
        <p>2020-21 Emerging Leader of the Year | CSU</p>
        <p>2020-21 Brother of the Year | Collegiate 100</p>
        <hr>
        <h3>PROFESSIONAL EXPERIENCE</h3>
        <p>Academic Success Coach | CSU | August 2019 - PRESENT</p>
        <p>Volunteer Engagement Director | BYOB, Inc. | Jan 2021 - Feb 2021</p>
        <p>Graphic Designer | BYOB, Inc. | August 2020</p>
        <p>Media Team | Watch The Yard | April 2020</p>
        <p>Work Study | CSU | Oct 2019 - May 2019</p>
        <hr>
        <h3>CAMPUS LEADERSHIP</h3>
        <p>Collegiate 100, <i>President</i> | May 2021 - PRESENT</p>
        <p>Collegiate 100, <i>Secretary</i> | Apr 2019 - May 2021</p>
        <p>Student Activities Council, <i>Social Media Chair</i> | Apr 2020 - May 2021</p>
        <p>Creative Writing Club, <i>Social Media Coordinator</i> | Aug 2018 - May 2019</p>
    </center>


    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </center>
  </body>
</html>